<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 将namespace的值设置为DAO类对应的路径 -->
<mapper namespace="org.starrier.dreamwar.repository.mapper.ArticleMapper">
    <!-- 目的：为DAO接口方法提供sql语句配置 -->
    <resultMap id="Article" type="org.starrier.dreamwar.model.entity.Article">
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content"/>
        <result property="author" column="author"/>
        <result property="category" column="category"/>
        <result property="commentCount" column="comment_count"/>
        <result property="create_date" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="summary" column="summary"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="Comment" type="org.starrier.dreamwar.model.entity.Comment">
        <result property="id" column="id"/>
        <result property="comment" column="comment"/>
        <result property="article_id" column="article_id"/>
        <result property="date" column="date"/>
    </resultMap>

    <insert id="insertArticle" parameterType="org.starrier.dreamwar.model.entity.Article" useGeneratedKeys="true" keyProperty="id"><![CDATA[
        insert into article (
            title,content,author,category,summary
                    )values (
            #{title},#{content},#{author},#{category},#{summary}
        )
    ]]></insert>

    <delete id="deleteById" parameterType="org.starrier.dreamwar.model.entity.Article">
        delete from article where id=#{id}
    </delete>

    <delete id="deleteArticleByAuthor" parameterType="org.starrier.dreamwar.model.entity.Article">
        delete from article where author=#{author}
    </delete>

    <delete id="deleteArticle" parameterType="org.starrier.dreamwar.model.entity.Article">
        delete from article where id=#{id}
    </delete>

    <update id="updateArticle" parameterType="org.starrier.dreamwar.model.entity.Article">
        update article
        <set>
        <if test="author != null and author != ''">
             author =#{author},
        </if>
        <if test="category !=null and category != ''">
            category = #{category},
        </if>
        <if test="content != null and content != ''">
            content = #{content},
        </if>
        <if test="summary != null and summary != ''">
            summary = #{summary},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="update_date != null">
            update_date =#{update_date}
        </if>
        </set>
        where id=#{id}
   </update>

    <select id="listArticle" resultMap="Article">
        select
            *
        from
            article
    </select>

    <select id="getArticleById" parameterType="long" resultMap="Article">
        select
            *
        from
            article
        where
            id = #{id}
    </select>
    <select id="getArticlesByAuthor" parameterType="string" resultMap="Article">
        select
            *
        from
            article
        where
            author=#{author}
    </select>

    <select id="getCommentByArticle" parameterType="long" resultMap="Comment">
        select
            *
        from
            article,comment
        where
            article.id=comment.article_id=#{id};
    </select>
    <select id="getArticlesByKeyword" parameterType="org.starrier.dreamwar.model.entity.Article" resultMap="Article">

    </select>

    <select id="getAllAuthorName" parameterType="org.starrier.dreamwar.model.entity.Article" resultMap="Article"><![CDATA[
        select *
        from article;
    ]]></select>

</mapper>